.banner {
  width: 100%;
  position: relative;
}
.banner_img {
  width: 100%;
  overflow: auto;
}
.banner_list {
  width: 400%;
}
.banner_list li {
  float: left;
  width: 25%;
}
.banner_list img {
  width: 100%;
}
.banner_nav {
  width: 100%;
  position: absolute;
  height: 0.4rem;
  text-align: center;
  bottom: 0;
  left: 0;
  z-index: 99;
  font-size: 0;
  padding-top: 0.26666667rem;
}
.banner_nav li {
  display: inline-block;
  width: 0.4rem;
  height: 0.13333333rem;
  background: white;
  opacity: .4;
  vertical-align: top;
  margin: 0 0.13333333rem;
}
.banner_nav .active {
  opacity: 1;
}
.index_content {
  padding-top: 0.3rem;
  background: #f4fbfe;
  padding-bottom: 0.15rem;
}

.characteristic {
  background: #a5d677;
}
.characteristic h3 {
  padding-top: 0.04rem;
  font: 0.45rem / 1.1rem fzlt;
  color: #fff;
  text-align: center;
}
.characteristic_list {
  padding: 0 0.2rem 0.4rem;
}
.characteristic_list li {
  font: 0.26rem / 0.46rem fzlt;
  color: #fff;
  margin-top: 0.4rem;
  padding-top: 0.25rem;
}
.characteristic_list li::before {
  content: '';
  float: left;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  margin-right: 0.2rem;
  margin-top: -0.26rem;
  box-shadow: 0px 0px 5px 2px #a6d678;
  background: #ffffff url(../../assets/images/icon1.png) no-repeat center;
  background-size: 100% auto;
}
.characteristic_list li:first-of-type {
  margin-top: none;
}
.characteristic_list li:nth-of-type(2)::before {
  background: #ffffff url(../../assets/images/icon2.png) no-repeat center;
  background-size: 100% auto;
}
.characteristic_list li:nth-of-type(3)::before {
  background: #ffffff url(../../assets/images/icon3.png) no-repeat center;
  background-size: 100% auto;
}

