.menus {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1.2rem .5rem;
    width: 3.5rem;
    height: 100vh;
    background: url("../../assets/images//menu.png") no-repeat;
    background-size: cover;
    z-index: 1;
    /* transition: .5s transform; */
}
/* .show{ */
    /* display: block; */
    /* transform: translateX(3rem); */
    /* transition: .5s transform; */
/* } */
/* .unshow{ */
    /* display: none; */
    /* transform: translateX(-3rem); */
    /* transition: .5s transform; */
/* } */

.menus a {
    display: block;
    font: .2rem/.9rem "宋体";
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255, .8);
}

.menus a:before {
    font-size: .4rem;
    margin: 0 .1rem;
    color: rgba(255, 255, 255, .6);
    vertical-align: middle;
}

.menus a:first-child {
    border-top: 1px solid rgba(255, 255, 255, .3);
}