#header {
    height: 0.9rem;
    background: #323436;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.menu {
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    padding: 0.25rem;
    box-sizing: border-box;
}

.menu-a {
    text-indent: -999px;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../../assets/images/icon_menu.png") no-repeat;
    background-size: 100% 100%;
}

.icon-size {
    width: 0.36rem;
    height: 0.36rem;
    font-size: 0.36rem;
    color: #d1d1d1;
    line-height: 0.36rem;
}

.logo {
    width: 3.23rem;
    height: 0.67rem;
    margin: 0 auto;
    padding: 0.23rem 0.7rem 0 0.7rem;
    background: url("../../assets/images/logo.png") no-repeat;
    background-origin: content-box;
    background-size: 100%;
    text-indent: -999px;
    overflow: hidden;
    box-sizing: border-box;
}

.user {
    width: 0.5rem;
    height: 0.53rem;
    position: absolute;
    top: 0.17rem;
    right: 0.2rem;
    background: url("../../assets/images/icon_user.png") no-repeat;
    background-size: 100% auto;
}


.menus {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1.2rem .5rem;
    width: 3.5rem;
    height: 100vh;
    background: url("../../assets/images//menu.png") no-repeat;
    background-size: cover;
    z-index: 998;
    transition: .5s transform;
}
.show{
    transform: translateX(0rem);
}
.unshow{
    transform: translateX(-3.5rem);
}

.menus a {
    display: block;
    font: .2rem/.9rem "宋体";
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255, .8);
}
/* .header-btn-left{
    width: 1rem;
    height: 1rem;
} */
.menus a:before {
    font-size: .4rem;
    margin: 0 .1rem;
    color: rgba(255, 255, 255, .6);
    vertical-align: middle;
}

.menus a:first-child {
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.menu{
    display: flex;
}
.menu a{
    font-size: .5rem;
    color: rgba(255, 255, 255, .8)
}
.header-btn-right{
    float: right;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 1.5rem;
}
.header-user{
    margin-top: -0.5rem;
    font-size: 0.4rem;
    color: rgba(255, 255, 255, .8);
    display: block;
}
.header-logout-btn{
    background: #323436;
    width: 1.2rem;
    height: 0.6rem;
    font-size: 0.3rem;
    margin-top: -0.3rem;
    position: absolute;
    top: 1.2rem;
    right: 0rem;
    text-align: center;
    line-height: 0.6rem;
    color: white;
    
}